/* styles.css */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #DDF2FD; /* Lightest blue background */
  }
  
  #login-form {
    max-width: 300px;
    padding: 20px;
    border: 1px solid #9BBEC8; /* Light blue border */
    border-radius: 5px;
    background-color: #FFFFFF; /* White background */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #427D9D; /* Blue border */
    border-radius: 3px;
    box-sizing: border-box;
  }
  
  input[type='email']:focus,
  input[type='password']:focus {
    outline: none;
    border-color: #164863; /* Dark blue on focus */
  }
  
  #login-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #164863; /* Dark blue */
    color: #DDF2FD; /* Lightest blue text */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #login-submit:hover {
    background-color: #427D9D; /* Blue on hover */
  }
  